<html xmlns='http://www.w3.org/1999/xhtml'><head style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><meta
      name='viewport'
      content='width=device-width'
      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
    /><meta
      http-equiv='Content-Type'
      content='text/html; charset=UTF-8'
      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
    /><title style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0">ZURBemails</title></head><body
    bgcolor='#FFFFFF'
    style="-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;height:100%;margin:0;padding:0;width:100%!important"
  ><style>@media only screen and
      (max-width:600px){a[class=btn]{display:block!important;margin-bottom:10px!important;background-image:none!important;margin-right:0!important}div[class=column]{width:auto!important;float:none!important}table.social
      div[class=column]{width:auto!important}}</style><table
      class='head-wrap'
      bgcolor='#999999'
      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"
    ><tbody><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
          ></td><td
            class='header container'
            style="clear:both!important;display:block!important;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0 auto!important;max-width:600px!important;padding:0"
          ><div
              class='content'
              style="display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0 auto;max-width:600px;padding:15px"
            ><table bgcolor='#999999' style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"><tbody
                ><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
                      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                    ><img
                        class='logo'
                        src='https://i.imgur.com/IkMtJPR.png'
                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;height:50px;margin:0;max-width:100%;padding:0;width:50px"
                      /></td><td align='right' style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><h6
                        class='collapse'
                        style="color:#444;font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:14px;font-weight:900;line-height:1.1;margin:0!important;margin-bottom:15px;padding:0;text-transform:uppercase"
                      >Hardco-Ecommerce</h6></td></tr></tbody></table></div></td><td
            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
          ></td></tr></tbody></table><table
      class='body-wrap'
      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"
    ><tbody><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
          ></td><td
            class='container'
            bgcolor='#FFFFFF'
            style="clear:both!important;display:block!important;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0 auto!important;max-width:600px!important;padding:0"
          ><div
              class='content'
              style="display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0 auto;max-width:600px;padding:15px"
            ><table style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"><tbody><tr
                    style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                  ><td style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><h3
                        style="color:#000;font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:27px;font-weight:500;line-height:1.1;margin:0;margin-bottom:15px;padding:0"
                      >Welcome, {{name}}</h3><p
                        class='lead'
                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0"
                      >Thank your for subscribing to HardoCo E-commerce Here are some products that you can go check out</p><p
                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0"
                      ><img
                          src='https://images.pexels.com/photos/5886041/pexels-photo-5886041.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940'
                          style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;max-width:100%;padding:0"
                        /></p><p
                        class='callout'
                        style="background-color:#ECF8FF;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.6;margin:0;margin-bottom:15px;padding:15px"
                      >Fifty percent off! But it now !!!.
                        <a
                          href='#'
                          style="color:#2BA6CB;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-weight:700;margin:0;padding:0"
                        >Do it Now! »</a></p><h3
                        style="color:#000;font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:27px;font-weight:500;line-height:1.1;margin:0;margin-bottom:15px;padding:0"
                      >HardoCo E-commerce
                        <small
                          style="color:#6f6f6f;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:60%;line-height:0;margin:0;padding:0;text-transform:none"
                        >Our story</small></h3><p
                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0"
                      >There are many variations of products available, if you want to have the best buying experience , you must buy at
                        hardco-ecommerce Their are a lot of products on sale now. Let's see it !</p><a
                        class='btn'
                        style="background-color:#666;color:#FFF;cursor:pointer;display:inline-block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-weight:700;margin:0;margin-right:10px;padding:10px 16px;text-align:center;text-decoration:none"
                      >Click Me!</a><br style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0" /><br
                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                      /><table
                        class='social'
                        width='100%'
                        style="background-color:#ebebeb;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"
                      ><tbody><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
                              style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                            ><table
                                align='left'
                                class='column'
                                style="float:left;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;min-width:279px;padding:0;width:280px"
                              ><tbody><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
                                      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:15px"
                                    ><h5
                                        class=''
                                        style="color:#000;font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:17px;font-weight:900;line-height:1.1;margin:0;margin-bottom:15px;padding:0"
                                      >Connect with Us:</h5><p
                                        class=''
                                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0"
                                      ><a
                                          href='#'
                                          class='soc-btn fb'
                                          style="background-color:#3B5998!important;color:#FFF;display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:700;margin:0;margin-bottom:10px;padding:3px 7px;text-align:center;text-decoration:none"
                                        >Facebook</a>
                                        <a
                                          href='#'
                                          class='soc-btn tw'
                                          style="background-color:#1daced!important;color:#FFF;display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:700;margin:0;margin-bottom:10px;padding:3px 7px;text-align:center;text-decoration:none"
                                        >Twitter</a>
                                        <a
                                          href='#'
                                          class='soc-btn gp'
                                          style="background-color:#DB4A39!important;color:#FFF;display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:700;margin:0;margin-bottom:10px;padding:3px 7px;text-align:center;text-decoration:none"
                                        >Google+</a></p></td></tr></tbody></table><table
                                align='left'
                                class='column'
                                style="float:left;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;min-width:279px;padding:0;width:280px"
                              ><tbody><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
                                      style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:15px"
                                    ><h5
                                        class=''
                                        style="color:#000;font-family:HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:17px;font-weight:900;line-height:1.1;margin:0;margin-bottom:15px;padding:0"
                                      >Contact Info:</h5><p
                                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0"
                                      >Phone:
                                        <strong
                                          style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                                        >408.341.0600</strong><br
                                          style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                                        />Email:
                                        <strong style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><a
                                            href='emailto:hseldon@trantor.com'
                                            style="color:#2BA6CB;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                                          >hseldon@trantor.com</a></strong></p></td></tr></tbody></table><span
                                class='clear'
                                style="clear:both;display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                              ></span></td></tr></tbody></table></td></tr></tbody></table></div></td><td
            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
          ></td></tr></tbody></table><table
      class='footer-wrap'
      style="clear:both!important;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"
    ><tbody><tr style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><td
            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
          ></td><td
            class='container'
            style="clear:both!important;display:block!important;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0 auto!important;max-width:600px!important;padding:0"
          ><div
              class='content'
              style="display:block;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0 auto;max-width:600px;padding:15px"
            ><table style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0;width:100%"><tbody><tr
                    style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                  ><td align='center' style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"><p
                        style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0"
                      ><a
                          href='#'
                          style="color:#2BA6CB;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                        >Terms</a>
                        |
                        <a
                          href='#'
                          style="color:#2BA6CB;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                        >Privacy</a>
                        |
                        <a
                          href='#'
                          style="color:#2BA6CB;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                        ><unsubscribe
                            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
                          >Unsubscribe</unsubscribe></a></p></td></tr></tbody></table></div></td><td
            style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;margin:0;padding:0"
          ></td></tr></tbody></table></body></html>